@charset "utf-8";
@import url(fonts/font.css);

/* 초기화 */
html {overflow-y:scroll;
    -webkit-text-size-adjust: none; /*Chrome, Safari, newer versions of Opera*/
    -moz-text-size-adjust: none; /*Firefox*/
    -ms-text-size-adjust: none; /*Ie*/
    -o-text-size-adjust: none; /*old versions of Opera*/
}
body {margin:0;padding:0;min-width:320px;font-size:16px;line-height:1.267em;height:100%;font-family:'Noto Sans KR', 'Noto Serif KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif; letter-spacing:-0.4px;background:#fff;color:#666;}
html, h1, h2, h3, h4, h5, h6, form, fieldset {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:'Noto Sans KR', 'Noto Serif KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
header ul, nav ul, footer ul {margin:0;padding:0;list-style:none}
legend {position:absolute;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select {vertical-align:middle}
input, button {margin:0;padding:0;font-size:1em;font-family:'Noto Sans KR', 'Noto Serif KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;}
button,input[type=submit] {cursor:pointer}
input[type=text], input[type=password], input[type=submit], input[type=image], button {-webkit-appearance:none}
input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button {-webkit-appearance:none;cursor:pointer;padding:0}
textarea, select {font-size:1em;font-family:'Noto Sans KR', 'Noto Serif KR', 'EB Garamond', 'Malgun Gothic', dotum, sans-serif;}
textarea {border-radius:0;-webkit-appearance:none}
p {margin:0;padding:0;word-break:break-all}
hr {display:none}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {text-decoration:none}
ul,li,dl,dt,dd {padding:0;margin:0}
ul {list-style:none}

*, *:before, *:after {box-sizing:border-box;outline:none;-webkit-tap-highlight-color:rgba(0, 0, 0, 0)}
*,:after,:before {
 -webkit-box-sizing:border-box;
 -moz-box-sizing:border-box;
 box-sizing:border-box
}

input[type=text],input[type=password], textarea {
-webkit-transition:all 0.30s ease-in-out;
-moz-transition:all 0.30s ease-in-out;
-ms-transition:all 0.30s ease-in-out;
-o-transition:all 0.30s ease-in-out;
outline:none
}
 /*
input[type=text]:focus,input[type=password]:focus, textarea:focus,select:focus {
-webkit-box-shadow:0 0 5px #9ed4ff;
-moz-box-shadow:0 0 5px #9ed4ff;
box-shadow:0 0 5px #9ed4ff;
border:1px solid #558ab7 !important
}
*/

/* 팝업레이어 */
#hd_pop {z-index:1000;position:relative;margin:0 auto;width:100%;height:0px}
#hd_pop h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.hd_pops {position:absolute;border:1px solid #e9e9e9;background:#fff}
.hd_pops_con {}
.hd_pops img {max-width:100%;height:auto}
.hd_pops_footer {padding:10px 0;background:#000;color:#fff;text-align:right}
.hd_pops_footer button {margin-right:5px;padding:5px 10px;border:0;background:#393939;color:#fff}

/* 상단 레이아웃 
#hd {position:relative}
#hd h1 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#hd_wr {width:100%;background:#fff;border-bottom:1px solid #eee}
#hd_wr_inner {position:relative;margin:0 auto;max-width:1200px;height:100px;padding:15px}

.hd_right_btn {position:absolute;top:10px;right:0;margin-top:20px}
.hd_right_btn button {border:none;background:none;width:35px;height:35px;line-height:35px;margin-left:3px;font-size:1.2em}
.hd_right_btn>a {float:left;display:inline-block;width:35px;height:35px;line-height:35px;margin-left:3px;border:0;background:0;text-align:center;font-size:1.2em;vertical-align:top;color:#3c3c3c}
.hd_right_btn .cart {position:relative}
.hd_right_btn .cart .cart-count {position:absolute;top:20%;right:0px;display:block;height:16px;line-height:16px;background:#ff4444;font-size:11px;color:#fff;padding:0 5px;border-radius:50%}

.fixed #scroll_top_gnb {display:inline-block}
#scroll_top_gnb {display:none;width:885px;margin:15px 0 0 15px}
#gnb_scroll {margin:0 auto;display:table}
#gnb_scroll li {display:inline-block;font-size:1em;font-weight:bold;padding:0 10px}
#gnb_scroll li:hover a {color:#3e976c}

@media (max-width:1240px) {
	#hd_wr {padding:0 20px}
}

@media (max-width:1200px) {
	#scroll_top_gnb {width:auto}
}

@media (max-width:970px) {
	#hd_wr {padding:0}
}

.btn_align {float:left;display:inline-block}
.join_btn {position:relative}

.animated2 {
 -webkit-animation-duration:1s;
 animation-duration:1s;
 -webkit-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-timing-function:linear;
 animation-timing-function:linear;
 animation-iteration-count:infinite;
 -webkit-animation-iteration-count:infinite;
}

@-webkit-keyframes bounce2 {
 0%, 100% {-webkit-transform:translateY(0)}
 50% {-webkit-transform:translateY(-5px)}
}

@keyframes bounce2 {
 0%, 100% {transform:translateY(0)}
 50% {transform:translateY(-5px)}
}

.bounce2 {-webkit-animation-name:bounce2;animation-name:bounce2}
#animated-example {z-index:999999;width:45px;height:20px;font-size:0.65em;line-height:20px;background-color:#ffa841;opacity:0.8;color:#fff;position:absolute;top:35px;left:-5px;border-radius:3px}
#animated-example:before {content:"";position:absolute;top:-4px;right:18px;width:4px;height:4px;border-left:4px solid transparent;border-right:4px solid transparent;border-bottom:4px solid #ffa841}

.hd_search h3 {padding:20px;border-bottom:1px solid #f7f7f7}
.hd_search #sch_str {margin:20px;width:257px;height:40px;border-radius:20px;border:1px solid #eee;background:#f7f7f7;padding:0 40px 0 20px}
.hd_search #sch_submit {position:absolute;top:83px;right:25px;width:40px;height:35px;border:0;border-radius:0 3px 3px 0;cursor:pointer;background:none;font-size:15px;color:#333}
.hd_search .btn_close {position:absolute;right:10px;top:12px;z-index:999;color:#cecece}
.hd_search .btn_close:hover {color:#ddd}

.tnb_con {display:none;width:300px;background:#fff;border:1px solid #eee;position:absolute;top:70px;right:0;z-index:9999}
.tnb_con:before {content:"";position:absolute;top:-10px;right:5px;width:0;height:0;border-style:solid;border-width:0 10px 12px 10px;border-color:transparent transparent #fff transparent;z-index:1}
.tnb_con:after {content:"";position:absolute;top:-12px;right:5px;width:0;height:0;border-style:solid;border-width:0 10px 12px 10px;border-color:transparent transparent #eee transparent}

.hd_search .tnb_con:before {right:80px}
.hd_search .tnb_con:after {right:80px}

#btn_hdcate {position:absolute;top:10px;left:0;margin-top:25px;min-width:26px;width:26px;height:26px;background:none;border:0;font-size:1.4em;color:#3c3c3c}

#hd #btn_hdmy {position:absolute;top:10px;right:45px}

#hd_wr_inner #logo {text-align:center;margin-top:10px}
#hd_wr_inner #logo img {}

#hd_wr.fixed {position:fixed;top:0;left:0;z-index:999}
#hd_wr.fixed #hd_wr_inner {height:80px}
#hd_wr.fixed #hd_wr_inner #logo {display:inline-block;float:left;margin-top:5px}
#hd_wr.fixed #btn_hdcate {display:none;margin-top:20px}
#hd_wr.fixed .hd_right_btn {margin-top:10px}
#hd_wr.fixed #sidr {display:none}
#hd_wr.fixed .tnb_con {top:60px}

@media (max-width:970px) {
    #hd_wr_inner {height:60px}
    #hd_wr_inner #logo {display:inline-block;margin-top:-5px;margin-left:35px}
    #hd_wr_inner #logo img {width:90%}
    #btn_hdcate {margin-top:0;left:20px;top:17px}
    .fixed #scroll_top_gnb {display:none}
    .hd_right_btn {margin-top:0;margin-right:20px;}
    
    #hd_wr.fixed {}
	#hd_wr.fixed #hd_wr_inner {height:60px}
	#hd_wr.fixed #hd_wr_inner #logo {margin-top:-5px}
	#hd_wr.fixed #btn_hdcate {display:inline-block;margin-top:0}
	#hd_wr.fixed .hd_right_btn {margin-top:0}
	#hd_wr.fixed #sidr {display:none}
	#hd_wr.fixed .tnb_con {top:60px}
}
*/
/*카테고리*/
.sidr {display:block;position:fixed;top:0;width:345px;height:100%;z-index:999999;overflow-x:hidden;overflow-y:auto;border-right:1px solid #eee;background:#fff}
.sidr.sidr-left {left:-345px;right:auto}
.menu_close {display:none}
.sidr-open .menu_close {display:block;position:fixed;left:345px;top:0;width:100%;height:100%;background:#000;color:#fff;font-size:20px;border:0;z-index:199999;opacity:0.7}
#category {clear:both}
#category .menu_wr {height:100%;overflow-y:auto;background:#fff;padding:30px;position:relative;z-index:199919}

.cate_tab:after {display:block;visibility:hidden;clear:both;content:""}
.cate_tab li {float:left;width:33.333%;text-align:center;font-size:0.92em}
.cate_tab a {display:block;border-bottom:1px solid #bbb;padding:10px 0;color:#666}
.cate_tab .selected {border-bottom:1px solid #3e976c;color:#3e976c}

#hd_sch {text-align:center;padding:0 0 10px}
#hd_sch h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#hd_sch .sch_inner {position:relative}
#hd_sch #sch_str {width:100%;height:40px;border-radius:20px;border:1px solid #eee;background:#f7f7f7;padding:0 40px 0 20px}
#hd_sch .sch_submit {position:absolute;top:2px;right:5px;width:40px;height:35px;border:0;border-radius:0 3px 3px 0;cursor:pointer;background:none;font-size:15px;color:#333}

.cate a {display:block;color:#333;padding:0 10px;border-bottom:1px solid #efefef}
.cate li {position:relative;line-height:40px}
.cate li button {position:absolute;top:0;right:0;background:url;border:0;width:30px;height:40px;overflow:hidden;border:0;background:url(../img/mobile/gnb_bg.png) no-repeat 50% 50%;text-indent:-9999px}
.cate li button.ct_cl {background:url(../img/mobile/gnb_bg2.png) no-repeat 50% 50%}

.sub_cate {display:none}
.sub_cate a {border-bottom:1px solid #efefef;background:url(../img/btn_next.gif) no-repeat 21px 17px;padding-left:30px}
.sub_cate2 a {padding-left:40px;background-position:31px 17px}
.sub_cate3 a {padding-left:50px;background-position:41px 17px}
.sub_cate4 a {padding-left:60px;background-position:51px 17px}

/* 중간 레이아웃 */
#wrapper {}
#container {padding:0 0 10px;max-width:1120px;margin:0 auto}
#container.idx-container {max-width:100%}
#container .idx_only {max-width:1120px;margin:0 auto}
#container .idx_only:after {display:block;visibility:hidden;clear:both;content:""}
#container_title {margin:40px 0 10px;padding:0;font-size:1.4em;text-align:center;font-weight:bold}
#container_title span {display:inline-block;padding-bottom:10px}
#container.con_item_veiw {max-width:100%}
.con_tit_view {position:absolute;font-size:0;line-height:0;overflow:hidden}

@media (max-width:969px) {
	#container {padding:10px}
	#container.idx-container {padding:0}
	#container_title {margin:20px 0}
}

/* 내용관리 */
#ctt {margin:10px 0;padding:10px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.ctt_admin {margin:0 5px;text-align:right}
#ctt header h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#ctt_con {padding:10px 0}
.ctt_img {text-align:center}

/* 하단 레이아웃 */
#ft {border-top:1px solid #eee;margin:20px 0 0;text-align:left;line-height:1.5em}
#ft h2 {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
#ft h3 {margin:0 0 15px;font-size:1.2em;font-weight:normal;letter-spacing:1px;font-weight:normal;color:#3e976c}
#ft h3 a {color:#3e976c}
.ft_wr {margin:0 auto;max-width:1200px;padding:20px 0}
.ft_wr:after {display:block;visibility:hidden;clear:both;content:""}
.ft_con {width:25%;float:left;padding:10px 3%;color:#777;font-size:0.85em;line-height:1.5em;word-wrap:break-word;border-left:1px solid #eee;min-height:230px}
#ft_cs {border-left:0}
#ft_cs strong {color:#000;font-size:1.5em}
#ft_cs p {margin:5px 0 0;color:#777}
#ft_cs .qa_link {display:inline-block;background:#397b57;color:#fff;padding:0 10px;line-height:32px;margin:10px 0 0;border-radius:2px}
#ft_bank p {margin:0 0 10px;color:#000;font-weight:bold}
#ft_if strong {display:block;color:#000}
#ft_if span {margin-right:5px;display:inline-block}

#ft_link {border-top:1px solid #eee;border-bottom:1px solid #eee;padding:5px 0;text-align:center;font-size:0.85em}
#ft_link li {display:inline-block;line-height:14px;padding:0 10px;text-align:left;font-weight:normal;border-left:1px solid #d8d8d8}
#ft_link li:first-child {border:0}
#ft_link li a {color:#d8d8d8}

.ft_copy {font-size:0.85em;clear:both;background:#f9f9f9;padding:10px 0;text-align:center;color:#d0d0d0}
#ft_to_top {position:fixed;bottom:10px;right:10px;width:40px;height:40px;line-height:40px;background:#96c5ae;border-radius:50%;color:#fff;text-align:center;font-size:15px;z-index:99}
#ft_to_top:hover {background:#3e976c}

@media (max-width:969px) {
	.ft_con {width:100%;padding:20px 10px;min-height:auto;border-left:0;border-top:1px solid #eee}
	.ft_wr {padding:10px}
	#ft_cs {border-top:0}
	#ft_cs a {width:100%;text-align:center}
	#ft_link {padding:15px}
	#ft_link li {padding:0 5px}
}

/* 목록 바로가기 */
.sanchor {border-bottom:1px solid #3e976c;margin:30px 0 10px;text-align:center;font-size:0}
.sanchor:after {display:block;visibility:hidden;clear:both;content:""}
.sanchor li {display:inline-block;margin-bottom:-1px;text-align:center;line-height:40px;font-size:0.92em;font-size:12px;margin-left:-1px}
.sanchor a {display:block;color:#646464;border:1px solid #ddd;border-bottom-color:#3e976c;background:#fcfcfc;padding:0 30px}
.sanchor a:hover {background:#fff}
.sanchor a.sanchor_on {border:1px solid #3e976c;border-bottom:1px solid #fff;font-weight:bold;color:#000;background:#fff;position:relative}
.sanchor a span {display:inline-block;line-height:18px;padding:0 5px;background:#aaa;color:#fff;border-radius:5px}
.sanchor a.sanchor_on span {background:#3e976c}

@media (max-width:969px){
	.sanchor {border:none;border-bottom:0;margin-bottom:15px}
	.sanchor li {width:33.333%;margin-left:-1px}
	.sanchor a {padding:0 5px;border-color:#ddd}
	.sanchor a.sanchor_on {background:#fff;border-color:#3e976c;color:#3e976c}
}


/* 화면낭독기 사용자용 */
#hd_login_msg {position:absolute;top:0;left:0;width:1px;height:1px;overflow:hidden}
.msg_sound_only, .sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0;text-indent:-9999em;line-height:0;border:0 !important;overflow:hidden !important}

/* 본문 바로가기 */
#skip_to_container a {z-index:100000;position:absolute;font-size:0;line-height:0;overflow:hidden;left:0}
#skip_to_container a:focus, #skip_to_container a:active {width:100%;height:75px;background:#21272e;color:#fff;font-size:1.5em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.3em}

/* 이미지 등비율 리사이징 */
.img_fix {width:100%;height:auto}

/* 캡챠 자동등록(입력)방지 기본 -pc */
#captcha {position:relative}
#captcha legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
#captcha #captcha_img {height:40px;border:1px solid #898989;vertical-align:top;padding:0;margin:0}
#captcha #captcha_mp3 {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;width:40px;height:40px;background:url('../../../img/captcha.png') no-repeat;text-indent:-999px;border-radius:3px}
#captcha #captcha_reload {margin:0;padding:0;width:40px;height:40px;border:0;background:transparent;vertical-align:middle;overflow:hidden;cursor:pointer;background:url('../../../img/captcha.png') no-repeat 0 -40px;text-indent:-999px;border-radius:3px}
#captcha #captcha_key {margin:0 0 0 3px;padding:0 5px;width:90px;height:40px;border:1px solid #ccc;background:#fff;font-size:1.333em;font-weight:bold;text-align:center;border-radius:3px;vertical-align:top}
#captcha #captcha_info {display:block;margin:3px 0 5px;font-size:0.95em;letter-spacing:-0.1em}

/* ckeditor 태그 기본값 */
#bo_v_con ul {display:block;list-style-type:disc;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#bo_v_con ol {display:block;list-style-type:decimal;margin-top:1em;margin-bottom:1em;margin-left:0;margin-right:0;padding-left:40px}
#bo_v_con li {display:list-item}

/* 캡챠 자동등록(입력)방지 기본 - mobile */
#captcha.m_captcha audio {display:block;margin:0 0 5px}

/* Mobile화면으로 */
#mobile_cng {display:block;margin:5px;padding:5px 0;border:1px solid #eee;border-radius:2em;background:#fff;color:#000;font-size:2em;text-decoration:none;text-align:center}

/* ckeditor 단축키 */
.cke_sc {margin:0 0 5px;text-align:right}
.btn_cke_sc {display:inline-block;padding:0 10px;height:23px;border:1px solid #ccc !important;background:#fafafa !important;color:#000 !important;text-decoration:none !important;line-height:1.9em;vertical-align:middle}
.cke_sc_def {margin:0 0 5px;padding:10px;border:1px solid #ccc;background:#f2f5f9;text-align:center}
.cke_sc_def dl {margin:0 0 5px;text-align:left}
.cke_sc_def dl:after {display:block;visibility:hidden;clear:both;content:""}
.cke_sc_def dt, .cke_sc_def dd {float:left;margin:0;padding:5px 0;border-bottom:1px solid #e9e9e9}
.cke_sc_def dt {width:20%;font-weight:bold}
.cke_sc_def dd {width:30%}

/* 콘텐츠별 스타일 */
.cnt_cmt {display:inline-block;margin:0 0 0 5px;font-weight:bold}

/* 버튼 */
.btn {display:inline-block;padding:0 5px;height:30px;line-height:30px;border-radius:3px}
a.btn01 {display:inline-block;padding:0 10px;border:1px solid #888;background:transparent;color:#888;text-decoration:none;vertical-align:middle;font-size:15px;line-height:38px;text-align:center;-webkit-transition:all 0.3s;transition:all 0.3s;}
a.btn01:focus, 
a.btn01:hover { background-color:#888; color:#fff; text-decoration:none;}
button.btn01 {display:inline-block;margin:0;padding:7px;font-size:0.85em;border:1px solid #ddd;background:#fff;color:#666;text-decoration:none}
a.btn02 {display:inline-block;padding:8px 7px 7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none;vertical-align:middle}
a.btn02:focus, .btn02:hover {text-decoration:none}
button.btn02 {display:inline-block;margin:0;padding:7px;border:1px solid #3b3c3f;background:#4b545e;color:#fff;text-decoration:none}
.btn_confirm {text-align:center} /* 서식단계 진행 */
.btn_submit {padding:0 5px;border:0;background:#000;color:#fff;letter-spacing:-0.1em}
fieldset .btn_submit {padding:0 7px;height:24px;line-height:1em}
a.btn_cancel {display:inline-block;padding:8px 7px 7px;border:1px solid #ccc;background:#fff;color:#000;text-decoration:none;vertical-align:middle}
button.btn_cancel {display:inline-block;padding:7px;border:1px solid #ccc;background:#fafafa;color:#000;vertical-align:top;text-decoration:none}
a.btn_frmline, button.btn_frmline {display:inline-block;padding:0 5px;height:1.9em;border:0;background:#333;color:#fff;letter-spacing:-0.1em;text-decoration:none;vertical-align:top;line-height:1.9em} /* 우편번호검색버튼 등 */
button.btn_frmline {font-size:1em}
.btn_top {margin:10px;text-align:right}
.btn_top li {display:inline-block}
.btn_top a, .btn_top .btn_submit {line-height:40px;height:40px;padding:0 10px;border-radius:0;font-size:0.85em}
.btn_top .btn_cancel, .btn_top .btn_b01 {border:1px solid #ddd;background:none;color:#666;line-height:40px;background:#fff;font-size:0.85em}

/* 게시판용 버튼 */
a.btn_b01,.btn_b01 {display:inline-block;background:none;border:1px solid #dddcde;color:#555;text-decoration:none;vertical-align:middle;text-align:center;font-size:0.8em;padding:5px 10px}
.btn_b01:hover, .btn_b01:hover {border-color:#ada5b9}
a.btn_b02,.btn_b02 {display:inline-block;background:#333;color:#fff;text-decoration:none;border:0;vertical-align:middle;text-align:center;font-size:0.8em;padding:5px 10px}
a.btn_b02:hover, .btn_b02:hover {background:#000}
a.btn_b03, .btn_b03 {display:inline-block;background:none;border:1px solid #000;color:#000;background:none;text-decoration:none;vertical-align:middle;text-align:center;font-size:0.8em;padding:5px 10px}
a.btn_b03:hover, .btn_b03:hover {background:#000;color:#fff}
a.btn_admin,.btn_admin {display:inline-block;background:#d13f4a;color:#fff;text-decoration:none;vertical-align:middle;text-align:center;font-size:0.8em;padding:5px 10px} /* 관리자 전용 버튼 */
.btn_admin:hover, a.btn_admin:hover {background:#ff3746}

/* 기본테이블 */
.tbl_wrap {margin:0 0 10px}
.tbl_wrap table {width:100%;border-collapse:collapse;border-spacing:0}
.tbl_wrap caption {padding:10px 0;color:#4b8b99;font-weight:bold;text-align:left}

.tbl_head01 {margin:0 0 10px}
.tbl_head01 table {border-bottom:1px solid #d3d3d3}
.tbl_head01 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head01 thead th {padding:12px 0;border-top:2px solid #000;border-bottom:1px solid #d3d3d3;background:#fff;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head01 thead a {color:#383838}
.tbl_head01 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head01 tfoot th, .tbl_head01 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head01 tbody th {padding:10px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head01 td {padding:15px 5px;border-top:1px solid #f3f3f3;border-left:1px solid #f3f3f3;line-height:1.5em;word-break:break-all}
.tbl_head01 td:first-child {border-left:0}
.tbl_head01 a {}

.tbl_head02 {margin:15px}
.tbl_head02 caption {position:absolute;font-size:0;text-indent:-9999em;line-height:0;overflow:hidden}
.tbl_head02 thead th {padding:7px 0;border-top:1px solid #333;border-bottom:1px solid #ddd;background:#f3f3f3;color:#333;font-size:0.95em;text-align:center}
.tbl_head02 thead a {color:#383838}
.tbl_head02 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head02 tfoot th {border-top:1px solid #666;border-bottom:1px solid #666;background:#484848;color:#fff}
.tbl_head02 tfoot td {background:#484848;color:#fff;font-weight:bold;text-align:center}
.tbl_head02 tbody th {padding:5px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head02 td {padding:5px 3px;border-bottom:1px solid #e9e9e9;line-height:1.4em;word-break:break-all}

.tbl_head03 {margin:0 0 10px}
.tbl_head03 table {border-bottom:1px solid #d3d3d3}
.tbl_head03 caption {padding:0;font-size:0;line-height:0;overflow:hidden}
.tbl_head03 thead th {padding:12px 0;border-top:2px solid #000;border-bottom:1px solid #d3d3d3;background:#fff;color:#383838;font-size:0.95em;text-align:center;letter-spacing:-0.1em}
.tbl_head03 thead a {color:#383838}
.tbl_head03 thead th input {vertical-align:top} /* middle 로 하면 게시판 읽기에서 목록 사용시 체크박스 라인 깨짐 */
.tbl_head03 tfoot th, .tbl_head03 tfoot td {padding:10px 0;border-top:1px solid #c1d1d5;border-bottom:1px solid #c1d1d5;background:#d7e0e2;text-align:center}
.tbl_head03 tbody th {padding:10px 0;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9}
.tbl_head03 td {padding:15px 5px;border-top:1px solid #f3f3f3;border-left:1px solid #f3f3f3;line-height:1.5em;word-break:break-all}
.tbl_head03 td:first-child {border-left:0}
.tbl_head03 a {}

/* 폼 테이블 */
.tbl_frm01 {}
.tbl_frm01 th {padding:10px 0;width:90px;border:1px solid #e9e9e9;border-left:0;text-align:left}
.tbl_frm01 td {padding:10px 5px;border-top:1px solid #e9e9e9;border-bottom:1px solid #e9e9e9;background:transparent}
.wr_content textarea,.tbl_frm01 textarea,.form_01 textarea, .frm_input {border:1px solid #ddd;background:#fff;color:#000;vertical-align:middle;padding:5px;font-size:0.85em;max-width:100%}
.frm_input {height:40px}
.tbl_frm01 textarea {width:100%;height:100px}
.tbl_frm01 a {text-decoration:none}
.tbl_frm01 .frm_address {margin-top:5px;width:100%}
.tbl_frm01 .frm_file {display:block;margin-bottom:5px;width:100%}
.tbl_frm01 .frm_info {display:block;padding:5px 0 0;color:#666;line-height:1.3em}

/* 기본리스트 */
.list_01 {padding:0 10px;font-size:0.85em}
.list_01 li {background:#fff;margin:10px 0;padding:10px 15px;border:1px solid #eee}
.list_01 li.li_all_chk {position:relative;text-align:center}
.list_01 li.li_all_chk div {position:absolute;left:5px;top:10px}
.list_01 li.li_all_chk label {vertical-align:baseline}
.list_01 li:hover {background:#f9f9f9}
.list_01 li:after {display:block;visibility:hidden;clear:both;content:""}
.list_01 li.empty_li {border:0}

/* 기본폼 */
.form_01 {margin:10px}
.form_01 div {margin:5px 0;position:relative}
.form_01 li {margin:5px 0;position:relative}
.form_01 textarea, .frm_input {border:1px solid #eee;background:#fff;color:#000;vertical-align:middle;padding:5px}
.form_01 textarea {width:100%;height:100px}
.frm_input {height:40px}
.full_input {width:100%} 
.form_01 .frm_file {display:block;margin-bottom:5px;width:100%}
.form_01 select {height:40px;border-radius:3px}
.form_01 .frm_info {font-size:0.7em;color:#3e976c;text-align:left;margin:3px 0 10px;display:block;line-height:1.6em}

/* 자료 없는 목록 */
.empty_table {padding:50px 0 !important;text-align:center !important;color:#666 !important}
.empty_list {padding:50px 0 !important;text-align:center !important;color:#666 !important}

/* 필수입력 */
.required, textarea.required {background-image:url('../img/require.png') !important;background-repeat:no-repeat !important;background-position:right top !important}

/* 테이블 그리드 padding 0 5px 고려한 넓이 */
.grid_1 {width:40px}
.grid_2 {width:100px}
.grid_3 {width:120px}
.grid_4 {width:190px}
.grid_5 {width:240px}
.grid_6 {width:290px}
.grid_7 {width:340px}
.grid_8 {width:390px}
.grid_9 {width:440px}
.grid_10 {width:490px}
.grid_11 {width:540px}
.grid_12 {width:590px}
.grid_13 {width:640px}
.grid_14 {width:690px}
.grid_15 {width:740px}
.grid_16 {width:790px}
.grid_17 {width:840px}
.grid_18 {width:890px}

/* 테이블 항목별 정의 */
.td_chk {width:50px;text-align:center}
.td_group {width:100px;text-align:center}
.td_board {width:120px;text-align:center}
.td_statsmall {width:50px;text-align:center}
.td_num {width:50px;text-align:center}
.td_numbig {width:100px;text-align:center}
.td_mb_id {width:100px;text-align:center}
.td_nick {width:100px;text-align:center}
.td_name {width:100px;text-align:left}
.td_namesmall {width:100px;text-align:left}
.td_date {width:50px;text-align:center}
.td_datetime {width:170px;text-align:center}
.td_mngsmall {width:50px;text-align:center}
.td_mng {width:80px;text-align:center}
.td_stat {text-align:center}

/* 새창 기본 스타일 */
.new_win {}
.new_win #win_title {font-size:1em;font-weight:bold;height:50px;padding:10px;line-height:30px;background:#000;color:#fff}
.new_win #win_title .sv {font-size:0.75em;line-height:1.2em}
.new_win_con {margin:10px}

.new_win .win_ul {margin:10px}
.new_win .win_ul li {display:inline-block}
.new_win .win_ul li a {display:block;line-height:24px;padding:0 10px}
.new_win .win_ul li .selected {background:#4162ff;color:#fff;border-radius:13px;
-webkit-box-shadow:0 0 5px rgba(65,98,255,0.8);
-moz-box-shadow:0 0 5px rgba(65,98,255,0.8);
box-shadow:0 0 8px rgba(65,98,255,0.8)}

.new_win .win_desc {margin:5px 0;font-size:0.92em;color:#4162ff}
.new_win .win_btn {clear:both;margin:10px;text-align:center}
.new_win .win_btn a {display:inline-block;height:40px;line-height:40px;font-weight:bold}
.new_win .win_btn .btn_close {display:inline-block;padding:0 10px;border:0;background:#000;color:#fff;text-decoration:none;height:40px;margin:10px 0}
.new_win .win_btn .btn_submit {width:100%;height:40px;line-height:40px;border-radius:3px;margin:0 0 20px;display:inline-block}

/* 자바스크립트 alert 대안 */
#validation_check {margin:100px auto;width:500px}
#validation_check h1 {margin-bottom:20px;font-size:1.3em}
#validation_check p {margin-bottom:20px;padding:30px 20px;border:1px solid #e9e9e9;background:#fff}

/* 사이드뷰*/
.sv_wrap {display:inline-block;position:relative;font-weight:normal}
.sv_wrap .sv {z-index:1000;display:none;margin:5px 0 0;border:1px solid #283646;background:#111}
.sv_wrap .sv a {display:inline-block !important;margin:0 !important;padding:5px !important;width:94px;border-bottom:1px solid #283646;color:#fff !important}
.sv_wrap a:focus, .sv_wrap a:hover, .sv_wrap a:active {text-decoration:none !important}
.sv_on {display:block !important;position:absolute;top:10px;left:20px;width:auto;height:auto !important}
.sv_nojs .sv {display:block}

/* 페이징 */
.pg_wrap {clear:both;margin:10px 0;text-align:center}
.pg {display:inline-block}
.pg_page, .pg_current, .qa_page {display:inline-block;padding:0 10px;height:30px;color:#000;line-height:28px;vertical-align:middle}
.pg a:focus, .pg a:hover {text-decoration:none}
.pg_page,.qa_page {background:#fff;border:1px solid #d4d4d4;border-radius:3px}
.pg_start {background:url(../img/btn_first.gif) no-repeat 50% 50% #fff;width:30px;height:30px;text-indent:-999px;overflow:hidden}
.pg_prev {background:url(../img/btn_prev.gif) no-repeat 50% 50% #fff;width:30px;height:30px;text-indent:-999px;overflow:hidden}
.pg_next {background:url(../img/btn_next.gif) no-repeat 50% 50% #fff;width:30px;height:30px;text-indent:-999px;overflow:hidden}
.pg_end {background:url(../img/btn_end.gif) no-repeat 50% 50% #fff;width:30px;height:30px;text-indent:-999px;overflow:hidden}
.pg_current {display:inline-block;background:#000;color:#fff;font-weight:normal;border-radius:3px;line-height:30px}